# ==== Secrets / env ====
.env
*.env
env/
.venv/
venv/

# ==== DB/Logs locales ====
*.sqlite3
db.sqlite3
*.log

# ==== Python/Django ====
__pycache__/
*.py[cod]
*.egg-info/

# ==== Builds / generados ====
staticfiles/
media/

# ==== Node ====
node_modules/
tw-animated-only/node_modules/

# ==== IDE ====
.vscode/
